@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes gradientMove {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(25%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

/* Pause animation on hover */
.animate-scroll:hover {
  animation-play-state: paused;
}

/* Fullscreen mode styles */
.fixed .animate-scroll {
  animation: scroll 20s linear infinite;
}

/* Remove the transform scale for fullscreen */
.fixed .animate-scroll > div {
  transform: none;
}